.col-sm-4.col-md-3.proto-content
  - if user_signed_in? && current_user.id == prototype.user_id
    = render partial: 'prototypes/setting', locals: { prototype: prototype }
  .thumbnail
    = link_to prototype_path(prototype) do
      = image_tag prototype.upload_images.main.first.name
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.name}", user_path(prototype.user)
          .proto-posted
            = prototype.created_at.strftime("%b %d")
            .form-group.col-md-2
              %button.btn.btn-primary Comment