- if @prototype.errors.any?
  .alert.alert-danger
    %h2
      = @prototype.errors.count
      件のエラーが発生しました
    %ul
      - @prototype.error_messages.each do |message|
        %li
          = message
.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "#{@prototype.title}", class: "proto-new-title"
        .col-md-12
          .cover-image-upload
            = f.fields_for :upload_images, @prototype.main_image do |upload_image|
              #edit-upload-main
                = upload_image.file_field :name
                = image_tag @prototype.main_image.name, class: 'thumb'
                = upload_image.hidden_field :status, value: :main
        .col-md-12
          %ul.proto-sub-list.list-group
            - @prototype.upload_images.sub.each do 
              %li.list-group-item.col-md-4
                .image-upload
                  %div{ id: "edit-upload-sub", style: "height: 100%;" }
                    = f.fields_for :upload_images, sub_image do |upload_image|
                      = upload_image.file_field :name
                      = image_tag sub_image.name, class: 'thumb'
                      = upload_image.hidden_field :status, value: :sub
      .row.proto-description
        .col-md-12
          = f.text_field :catthcopy, placeholder: "#{@prototype.catthcopy}"
        .col-md-12
          = f.text_area :concept, placeholder: "#{@prototype.concept}"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{:type => "text", :placeholder => "Web Design"}/
            .col-md-3
              %input{:type => "text", :placeholder => "UI"}/
            .col-md-3
              %input{:type => "text", :placeholder => "Application"}/
      .row.text-center.proto-btn
        = f.submit class: "btn btn-lg btn-primary btn-block", value: "Publish"

