.jumbotron
  .container.text-center
    = image_tag "header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px"
.filter-nav
  .container
    .row
      = link_to "View Tags", tags_path, class: "btn btn-default col-lg-1"
.container.proto-list
  .row
    #prototype_order
      %ul.nav.nav-pills.col-lg-11
        %li
          %h4
          = link_to "Newest", root_path, remote: true
          .proto
            = render @prototypes
        %li
          %h4
          = link_to "Popular", popular_index_prototypes_path, remote: true
