- if @prototype.errors.any?
  .alert.alert-danger
    %h2
      = @prototype.errors.count
      件のエラーが発生しました
    %ul
      - @prototype.error_messages.each do |message|
        %li
          = message
.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "Title", class: "proto-new-title"
        .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :upload_images do |upload|
              = upload.file_field :name
              = upload.hidden_field :status, value: :main
        .col-md-12
          %ul.proto-sub-list.list-group
          - 2.times do
            = render partial: "file_fields", locals: { f: f }
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catthcopy, placeholder: "Catch copy"
        .col-md-12
          = f.text_area :concept, placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Web Design"
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "UI"
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Application"
      .row.text-center.proto-btn
        = f.submit class: "btn btn-lg btn-primary btn-block", value: "Publish"

