.col-md-6.text-right
  - if user_signed_in?
    - if user_like_exists?
      = button_to prototype_likes_path( id: @prototype.user_like(current_user).id, prototype_id: @prototype.id ), method: :delete, class: "btn btn-default", style: "padding-right: 14px;" do
        = image_tag "icon_heart_red.png"
        Like
        %span.num
          = @prototype.likes_count
    - else
      = button_to prototypes_likes_path( @prototype.id ), class: "btn btn-default" do
        = image_tag "icon_heart.svg"
        Like
        %span.num
          = @prototype.likes_count
  - else
    = button_tag disabled: 'disabled', class: "btn btn-default" do
      = image_tag "icon_heart.svg"
      Like
      %span.num
        = @prototype.likes_count
